---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="IT Süsteemide Administreerimine">
	<main class="m-auto p-4 max-w-[72ch]">
		<p class="p-4 rounded-md bg-[#D12E7D] text-[#f5f0f0] my-4 leading-6 hover:bg-[#332B5D] transition-all">
			<a target="_blank" href="https://gitlab.com/voltages/iaab">Seda lehte järjest uuendatakse...</a>
		</p>
		<ul role="list" class="link-card-grid">
			<Card title="Taltech">
				<a class="hover:underline py-1" target="_blank" href="https://moodle.taltech.ee">Moodle - Kursuste leht</a>
				<a class="hover:underline py-1" target="_blank" href="https://ois2.ttu.ee/uusois/uus_ois2.tud_leht">ÕIS2 - Tunniplaanid, Õppekava deklareerimine</a>
				<a class="hover:underline py-1" target="_blank" href="https://outlook.office365.com/live.ttu.ee">Email - Tudengite Outlook</a>
				<a class="hover:underline py-1" target="_blank" href="https://student.taltech.ee">Student - Hea all around veebileht infoks ning muuks</a>
				<a class="hover:underline py-1" target="_blank" href="https://helpdesk.taltech.ee/plugins/servlet/theme/portals/all">Helpdesk - Toetuskeskkond</a>
				<a class="hover:underline py-1" target="_blank" href="https://taltech.ee/akadeemiline-kalender">Akadeemiline kalender - Õppeperioodi kalender</a>
			</Card>
			<Card title="ICA0012 Sissejuhatus infotehnoloogiasse ja riistvarasse">
				<a class="hover:underline py-1" target="_blank" href="https://wiki.itcollege.ee/index.php/Sissejuhatus_infotehnoloogiasse_ja_riistvarasse">Wiki - IT kolledž wiki. Praktiline õppetöö ning info</a>
				<a class="hover:underline py-1" target="_blank" href="https://www.netacad.com">Netacad - Cisco IT Essentials inglisekeelne kursus (lõpeb eksamitega)</a>
				<a class="hover:underline py-1" target="_blank" href="https://nc.itcollege.ee">Nextcloud - Distanssi asjad ning muu</a>
			</Card>
			<Card title="ITI0102 Programmeerimise algkursus">
				<a class="hover:underline py-1" target="_blank" href="https://moodle.taltech.ee">Moodle - Kõik ainega seotud info ning õppetöö</a>
				<a class="hover:underline py-1" target="_blank" href="https://gitlab.cs.ttu.ee/users/sign_in">GitLab - Õppetöö versioonihaldus</a>
			</Card>
			<Card title="ITI0101 Sissejuhatus infotehnoloogiasse">
				<a class="hover:underline py-1" target="_blank" href="http://lambda.ee/wiki/Sissejuhatus_infotehnoloogiasse">Lambda - Kõik kontrolltööd on siin ning kursus ise</a>
			</Card>
			<Card title="IAX0010 Diskreetne matemaatika">
				<a class="hover:underline py-1" target="_blank" href="https://moodle.taltech.ee">Moodle - Kõik õppetöö ning info</a>
				<a class="hover:underline py-1" target="_blank" href="https://diskmat.ee">Diskmat - Palju infot ning muud</a>
				<a class="hover:underline py-1" target="_blank" href="https://www.eksmat.ee">Eksmat - Parem Diskmat</a>
			</Card>
			<Card title="ICA0019 Fundamentals of Networking">
				<a class="hover:underline py-1" target="_blank" href="https://moodle.taltech.ee">Moodle - Suur osa infost ning õppetööst</a>
				<a class="hover:underline py-1" target="_blank" href="https://www.netacad.com">Netacad - Fundamentals of Networking Course</a>
			</Card>
		</ul>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
