---
export interface Props {
	title: string;
}

const {title} = Astro.props as Props;
---

<li class="link-card">
	<div class="w-full leading-6 py-4 px-5 rounded-md bg-white opacity-80 text-[#0b0a0a]">
		<h2>
			{title}
		</h2>
		<p class="flex-col flex">
			<slot/>
		</p>
	</div>
</li>
<style>
	:root {
		--link-gradient: linear-gradient(45deg, #332B5D, #D12E7D 30%, var(--color-border) 60%);
	}

	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-image: var(--link-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}

	.link-card:is(:hover, :focus-within) h2 {
		color: #332B5D;
	}
</style>
